# Drill 1

WITH
    rainy
AS (
    -- A simple query to get the averages of lat and long on a city level.
    SELECT
        Date
	FROM
        weather
	WHERE 
		Events LIKE 'Rain%' OR Events LIKE '%Rain'
    GROUP BY 1
)
SELECT
trip_id,
duration,
DATE(start_date) trip_date
FROM trips
JOIN rainy
on rainy.date = trip_date
ORDER BY duration DESC
LIMIT 3

# Drill 2

In [ ]:
SELECT
status.station_id,
stations.name,
COUNT(CASE WHEN docks_available=0 then 1 END) empty_count
FROM status
JOIN stations
on stations.station_id = status.station_id
GROUP BY 1
ORDER BY empty_count DESC

# Drill 3

In [ ]:
SELECT
	start_station,
	dockcount,
	COUNT(*)
FROM trips
JOIN stations
ON stations.name=trips.start_station
GROUP BY 1, 2
order by 2 DESC

# Drill 4

In [ ]:
with rainy as 
(SELECT 
date
From weather
WHERE events = 'Rain'
GROUP BY 1
),

rain_trips as (
SELECT
trip_id,
duration,
DATE(start_date) trip_date
FROM trips
JOIN rainy
on rainy.date = trip_date
ORDER BY duration DESC
)

SELECT 
trip_date,
max(duration)
from rain_trips
GROUP BY 1